html {
  font-size: 16px;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #444444;
  margin: 0;
  position: relative;
}

body.home {
  background-color: #6ED3CF;
}

body.search {
  background-color: #ffffff;
}

p {
  line-height: 25px;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
  height: 100vh;
}

@media (max-width: 1199.98px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    box-shadow: none;
    background-color: #6ED3CF;
  }
}

.wrapper .box {
  border: solid 1px gray;
  padding: 20px;
  width: 100%;
  display: flex;
  overflow: hideen;
  scroller-y: scroller;
}

.top-header {
  width: 100%;
  height: 80px;
  background-color: #E56A67;
}

.top-header .wrapper-header {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  display: flex;
  height: 80px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .top-header .wrapper-header {
    max-width: 960px;
  }
}

.top-header .wrapper-header p {
  line-height: 25px;
  font-size: 1.538rem;
  color: #ffffff;
}

.top-header .wrapper-header p .special {
  color: #E2D616;
}

.top-header .wrapper-header .search-container {
  margin-top: 20px;
}

.top-header .wrapper-header .search-container .input-search {
  padding: 10px;
  border: none;
}

.top-header .wrapper-header .search-container .btn-search {
  padding: 15px;
}

.img-git {
  flex: 0 1 50%;
  align-self: center;
}

.img-git img {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 500px;
}

.login {
  flex: 0 1 50%;
  align-self: center;
  margin-top: -120px;
}

.login .title-login {
  font-family: 'Futura', sans-serif;
  display: block;
  font-size: 80px;
  text-align: right;
  padding-right: 60px;
  margin-bottom: 50px;
}

.login .input-text {
  display: block;
  padding: 16px;
  width: 80%;
  font-size: 1.308rem;
  border: none;
  float: right;
  margin-bottom: 40px;
}

.login .btn {
  display: block;
  float: right;
  background-color: #000;
  border: none;
  color: lightblue;
  padding: 17px 70px;
  font-size: 1.154rem;
  cursor: pointer;
}

.cards {
  flex: 0 1 65%;
  border: solid 1px gray;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cards .card {
  margin: 10px;
  float: left;
  width: calc(50% - 20px);
  background-color: #6ED3CF;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.cards .card .card-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cards .card .card-description {
  margin-bottom: 30px;
}

.cards .card .card-starts {
  margin-bottom: 10px;
}

.cards .card .card-button {
  padding: 10px;
  width: 110px;
  background-color: #000;
  cursor: pointer;
}

.cards .card .card-button a {
  text-decoration: none;
  color: #02A3F8;
}

.cards .card .card-favorita {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 30px;
  width: 30px;
  border: solid 1px #ffffff;
  cursor: pointer;
}

.cards .card .card-favorita.active {
  border: solid 1px #E2D616;
  background-color: #E2D616;
}

.favoritos {
  flex: 0 1 35%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.favoritos .fav-card {
  padding: 20px;
  background-color: #896BB9;
  margin-bottom: 20px;
}

.favoritos .fav-card .fav-card-name {
  color: #ffffff;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.favoritos .fav-card .fav-card-name .fav-user {
  text-transform: uppercase;
}

.favoritos .fav-card .fav-card-name-repo {
  text-transform: uppercase;
  color: #E2D616;
}

@font-face {
  font-family: 'Futura';
  src: url("../../assets/fonts/Futura/Futura Book font.ttf");
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../assets/fonts/ProximaNova/ProximaSansRegular Regular.ttf");
}

/*# sourceMappingURL=git-find.css.map */