html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #444444;
  margin: 0;
  position: relative;
  height: 100%;
}

@media (max-width: 767.98px) {
  body {
    height: auto;
  }
}

body.home {
  background-color: #6ED3CF;
}

body.search {
  background-color: #ffffff;
}

p {
  line-height: 25px;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
  padding: 0 40px;
  height: 100%;
}

@media (max-width: 1199.98px) {
  .wrapper {
    max-width: 1199.98px;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    max-width: 991.98px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    max-width: 767.98px;
    box-shadow: none;
    background-color: #6ED3CF;
  }
  .home .wrapper {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    max-width: 100%;
    padding: 0;
    margin: 0 40px;
  }
}

.search .wrapper {
  height: calc(100% - 80px);
}

@media (max-width: 767.98px) {
  .search .wrapper {
    background-color: #ffffff;
  }
}

.wrapper .box {
  margin: 20px 0;
  width: 100%;
  display: flex;
  box-shadow: 3px 4px 15px #4d4b4b;
}

@media (max-width: 767.98px) {
  .wrapper .box {
    display: block;
  }
}

.wrapper .box .tabs {
  display: none;
}

@media (max-width: 767.98px) {
  .wrapper .box .tabs {
    display: flex;
  }
}

.wrapper .box .tabs .tab {
  flex: 0 1 50%;
  text-align: center;
  padding: 20px;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
}

.wrapper .box .tabs .tab.active {
  color: #03A6FF;
  font-weight: bold;
  background-color: #000;
}

.top-header {
  width: 100%;
  height: 80px;
  background-color: #E56A67;
}

.top-header .wrapper-header {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  display: flex;
  padding: 0 40px;
  height: 80px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .top-header .wrapper-header {
    max-width: 1199.98px;
  }
}

@media (max-width: 991.98px) {
  .top-header .wrapper-header {
    max-width: 991.98px;
  }
}

.top-header .wrapper-header p {
  line-height: 25px;
  font-size: 1.538rem;
  color: #ffffff;
}

.top-header .wrapper-header p .special {
  color: #E2D616;
}

@media (max-width: 767.98px) {
  .top-header .wrapper-header p {
    display: none;
  }
}

.top-header .wrapper-header .search-container {
  margin: 16px 0;
  width: 350px;
  overflow: hidden;
  display: flex;
}

@media (max-width: 767.98px) {
  .top-header .wrapper-header .search-container {
    width: 100%;
  }
}

.top-header .wrapper-header .search-container form {
  flex: 0 1 100%;
}

.top-header .wrapper-header .search-container form .input-search {
  padding: 14px;
  font-size: 1.077rem;
  border: none;
  box-shadow: 3px 4px 15px #4d4b4b;
  width: 100%;
  color: #5e5d5d;
}

.top-header .wrapper-header .search-container .btn-search {
  background-color: #000;
  border: none;
  cursor: pointer;
  flex: 1 0 50px;
  margin-left: 23px;
}

.top-header .wrapper-header .search-container .btn-search:before {
  content: '\f1c3';
  font-family: 'Material Desing Icons';
  font-size: 30px;
  color: #ffffff;
  line-height: 47px;
}

.img-git {
  flex: 0 1 50%;
  align-self: center;
}

@media (max-width: 767.98px) {
  .img-git {
    text-align: center;
    margin-bottom: 100px;
  }
}

@media (max-width: 575.98px) {
  .img-git {
    text-align: center;
    margin-bottom: 100px;
    padding-top: 30px;
  }
}

.img-git img {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 500px;
}

@media (max-width: 991.98px) {
  .img-git img {
    max-height: 350px;
    max-width: 350px;
  }
}

@media (max-width: 575.98px) {
  .img-git img {
    max-height: 250px;
    max-width: 250px;
  }
}

.login {
  flex: 0 1 50%;
  align-self: center;
  margin-top: -120px;
  margin-right: 60px;
}

@media (max-width: 767.98px) {
  .login {
    margin-right: 0px;
  }
}

.login form .title-login {
  font-family: 'Futura', sans-serif;
  display: block;
  font-size: 5rem;
  color: #ffffff;
  text-align: right;
  padding-right: 60px;
  margin-bottom: 50px;
  text-shadow: 3px 4px 15px #4d4b4b;
}

@media (max-width: 991.98px) {
  .login form .title-login {
    text-align: center;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .login form .title-login {
    font-size: 4rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .login form .title-login {
    font-size: 3.462rem;
  }
}

.login form .input-text {
  display: block;
  padding: 16px;
  width: 90%;
  font-size: 1.308rem;
  border: none;
  float: right;
  margin-bottom: 40px;
  box-shadow: 3px 4px 15px #4d4b4b;
}

@media (max-width: 767.98px) {
  .login form .input-text {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}

.login .btn {
  display: block;
  float: right;
  background-color: #000;
  border: none;
  color: #03A6FF;
  padding: 17px 70px;
  font-size: 1.154rem;
  cursor: pointer;
  margin-bottom: 30px;
}

.cards {
  flex: 0 1 65%;
  position: relative;
  padding: 25px;
}

@media (max-width: 767.98px) {
  .cards {
    flex: none;
    display: none;
  }
  .cards.active {
    display: block;
  }
}

.cards .card-message {
  color: gray;
  text-align: center;
  margin-top: 40%;
}

.cards .card-message.hiden {
  display: none;
}

.cards .card {
  margin: 10px;
  float: left;
  width: calc(50% - 20px);
  background-color: #6ED3CF;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 3px 4px 15px #4d4b4b;
  font-size: 0.9231rem;
  color: #000;
}

@media (max-width: 575.98px) {
  .cards .card {
    width: calc(100% - 20px);
  }
}

.cards .card .card-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 10px;
  font-size: 1.077rem;
}

.cards .card .card-title:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: solid 2px #ffffff;
  box-shadow: 3px 3px 8px #4d4b4b;
  margin-top: 10px;
}

.cards .card .card-description {
  margin-bottom: 20px;
  height: 35px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cards .card .card-starts {
  margin-bottom: 20px;
}

.cards .card .card-button {
  padding: 10px;
  width: auto;
  background-color: #000;
  cursor: pointer;
  display: inline;
  box-shadow: 3px 4px 15px #4d4b4b;
}

.cards .card .card-button a {
  text-decoration: none;
  color: #03A6FF;
  font-weight: bold;
}

.cards .card .card-favorite-star {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cards .card .card-favorite-star:before {
  content: '\f27c';
  font-family: 'Material Desing Icons';
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.cards .card .card-favorite-star.active:before {
  content: '\f27d';
  color: #E2D616;
}

.favorites {
  flex: 0 1 35%;
  padding: 80px 20px 20px;
  border-left: solid 2px #eeeeee;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 767.98px) {
  .favorites {
    flex: none;
    display: none;
  }
  .favorites.active {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .favorites {
    padding: 20px;
  }
}

.favorites .favorite-title {
  color: #ffffff;
  text-align: center;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  font-size: 1.231rem;
}

@media (max-width: 767.98px) {
  .favorites .favorite-title {
    display: none;
  }
}

.favorites .fav-message {
  color: gray;
  text-align: center;
  margin-top: 65%;
}

@media (max-width: 767.98px) {
  .favorites .fav-message {
    margin-top: 28%;
  }
}

.favorites .fav-card {
  padding: 20px;
  background-color: #896BB9;
  margin-bottom: 20px;
  box-shadow: 3px 4px 15px #4d4b4b;
}

.favorites .fav-card .fav-card-name {
  color: #ffffff;
}

.favorites .fav-card .fav-card-name:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: solid 2px #ffffff;
  box-shadow: 3px 3px 8px #4d4b4b;
  margin: 10px 0 20px;
}

.favorites .fav-card .fav-card-name .fav-user {
  text-transform: uppercase;
}

.favorites .fav-card .fav-card-name-repo {
  text-transform: uppercase;
  color: #E2D616;
  text-align: center;
}

@font-face {
  font-family: 'Futura';
  src: url("../../assets/fonts/Futura/Futura Book font.ttf");
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../assets/fonts/ProximaNova/ProximaSansRegular Regular.ttf");
}

/*!
 *  Material Design Iconic Font by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - http://zavoloklom.github.io/material-design-iconic-font/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'Material Desing Icons';
  src: url("../../assets/fonts/Material_Design_Icons/Material-Design-Iconic-Font.woff2?v=2.2.0") format("woff2"), url("../../assets/fonts/Material_Design_Icons/Material-Design-Iconic-Font.woff?v=2.2.0") format("woff"), url("../../assets/fonts/Material_Design_Icons/Material-Design-Iconic-Font.ttf?v=2.2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=git-find.css.map */