.cards {
	flex: 0 1 65%;
  position: relative;
  padding: 25px;

  @media #{$phone}{
  	flex: none;
  	display: none;

  	&.active {
  		display: block;
  	}
  }

  .card-message {
  	color: gray;
    text-align: center;
    margin-top: 40%;

    &.hiden {
    	display: none;
    }
  }

	.card {
		margin: 10px;
		float: left;
		width: calc(50% - 20px);
		background-color: $card-repo-bg;
		padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 3px 4px 15px #4d4b4b;
    font-size: 0.9231rem;
    color: $dark-color;

    @media #{$small-phone} {
	  	width: calc(100% - 20px);	
	  }

		.card-title{
			color: $light-color;
			text-transform: uppercase;
			text-align: right;
			padding-bottom: 10px;
			font-size: 1.077rem;

    	&:after {
    		content: "";
			  display: block;
			  width: 100%;
    		border-bottom: solid 2px $light-color;
    		box-shadow: 3px 3px 8px #4d4b4b;
    		margin-top: 10px;
    	}
		}

		.card-description{
			margin-bottom: 20px;
			height: 35px;
	    overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
		}

		.card-starts{
			margin-bottom: 20px;
		}

		.card-button{
			padding: 10px;
	    width: auto;
	    background-color: $dark-color;
	    cursor: pointer;
	    display: inline;
	    box-shadow: 3px 4px 15px #4d4b4b;

	    a {
	    	text-decoration: none;
	    	color: $button-color;
	    	font-weight: bold;
	    }
		}

		.card-favorite-star{
			position: absolute;
			right: 10px;
    	bottom: 10px;

  		&:before {
    		content: '\f27c';
    		font-family: 'Material Desing Icons';
    		font-size: 30px;
    		color: white;
    		cursor: pointer;
  		}	

  		&.active {
  			&:before {
					content: '\f27d';
					color: $yellow;
  			}
    	}
		}
	}
}