.favoritos {
	flex: 0 1 35%;
	padding: 20px;
	border-left: solid 2px $widget-border-color;
  box-sizing: border-box;
  //overflow-x: hidden;
  //overflow-y: scroll;

	.fav-card{
		padding: 20px;
    background-color: $card-favorito-bg;
    margin-bottom: 20px;
		
		.fav-card-name{
			color: $light-color;
			border-bottom: solid 1px $light-color;
			padding-bottom: 10px;
    	margin-bottom: 20px;

			.fav-user{
				text-transform: uppercase;
			}
		}

		.fav-card-name-repo{
			text-transform: uppercase;
			color: $yellow;
		}
	}


}