//Fonts

@font-face {
	font-family: 'Futura';
	src: url('../../assets/fonts/Futura/Futura Book font.ttf');
	//src: url('https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.ttf');
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../../assets/fonts/ProximaNova/ProximaSansRegular Regular.ttf');
}