// Top header

.top-header {
	width: 100%;
	height: 80px;  
  background-color: $top-bg;

  .wrapper-header {
  	display: flex;
  	justify-content: space-between;
  	max-width: $container-width;
		display: flex;
		padding: 0 40px;
		height: 80px;
    margin: 0 auto;

		@media #{$desktop} {
			max-width: 1199.98px;
		}

		@media #{$tablet} {
			max-width: 991.98px;
		}

		p {
			line-height: 25px;
    	font-size: 1.538rem;
    	color: $light-color;

    	.special {
				color: $yellow;
    	}
		}

		.search-container {
			margin: 16px 0;
		  width: 350px;
		  overflow: hidden;
		  display: flex;

			form {
				flex: 0 1 100%;

			  .input-search {
					padding: 13px;
			    font-size: 1.154rem;
			    border: none;
			    box-shadow: 3px 4px 15px #4d4b4b;
		  		width: 100%;
			  }
			}

			.btn-search {
		  	background-color: $dark-color;
		  	border: none;
		    cursor: pointer;
		    flex: 1 0 50px;
		    margin-left: 23px;

		  	&:before {		  		
		  		content: '\f1c3';
		  		font-family: 'Material Desing Icons';
    			font-size: 30px;
    			color: $light-color;
    			line-height: 47px;
		  	}
		  }
		}
  }	
}